.advantages-text {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

.advantages-text__normal {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-align: center;
}

.advantages-text__header {
  .header-font;
  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}
