/*.advantages-text {
  .header-font;
  color: white;
  text-align: center;
}

.advantages-text-normal {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: white;
  text-align: center;
}*/

.advantages-text {
  .header-font;
  text-align: center;
}

.advantages-text__normal {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-align: center;
}
.advantages-text__header {
  .header-font;
}

.advantages-text__white {
  color: white;
  font-size: 18px;
}
.advantages-text__white-normal {
  font-weight: normal;
  color: white;
  font-size: 14px;
  line-height: 21px;
}


