.booking-text {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.booking-text__intro {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  text-align: center;
}

.booking-text__none {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}
