.checkbox {
  padding-bottom: 13px;
  padding-top: 18px;

  @media (min-width: @tablet-width) {
    padding-bottom: 16px;
    padding-top: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 14px 0 0 0;
  }
}

.checkbox__text {
  .header-font;
  text-align: left;
  color: #000000;
  text-transform: none;
  padding-top: 14px;
}

.checkbox__header {
  margin: 0;
  .header-font;
  text-align: center;
  color: #000000;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

/* custom checkbox */
.checkbox__input {
  position: absolute;
  appearance: none;

  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.checkbox__tick {
  position: absolute;
  width: 4em;
  height: 4em;
  border-radius: 15%;
  background: #f2f2f2;
  margin-left: -5.5em;

  &:hover {
    background: #e5e5e5;
  }

  &:active {
    background: #d5d5d5;
  }
}

.checkbox__label {
  padding-left: 5.5em;
  display: flex;
}

.checkbox__item {
  padding: 15px 0 25px 0;
  flex-basis: 100%;

  @media (min-width: @tablet-width) {
    padding: 21px 0 25px 30px;
    flex-basis: 35%;
  }

  @media (min-width: @desktop-width) {
    padding: 21px 0 13px;
    flex-basis: auto;
  }
}

.checkbox__input:checked + .checkbox__tick {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;

  &:active {
    opacity: 0.3;
  }
}

/* ------ */

.checkbox__input:focus + .checkbox__tick {
  outline: 2px solid orange;
}

.checkbox__list {
  list-style: none;
  padding: 0;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 23px 0 0;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
    padding: 23px 0 26px;
  }
}
