.container {
  width: 280px;
  padding: 0 20px;
}

@media (min-width: 768px) {
  .container {
    width: 648px;
    padding: 0 60px;
  }
}

@media (min-width: 1200px) {
/*  .container {
    width: 960px;
    padding: 0 120px;
  }*/
}
