.failure {
  width: 320px;
  height: 280px;
  top: 300px;
  @media (min-width: @tablet-width) {
    width: 400px;
    height: 347px;
  }
}

.failure__button {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  background-color: @blue;
  cursor: pointer;

  padding: 16px 77px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    padding: 16px 121px;
    margin: 14px 0;
  }

  &:hover,
  &:focus {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(225, 225, 225, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

.failure__header {
  padding: 40px 62px 25px;
  @media (min-width: @tablet-width) {
    padding: 54px 78px 20px;
  }
}

.failure__description {
  padding: 3px 55px 19px;
}
