.form-text {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  text-align: left;
}

.form-text--input,
::placeholder {
  .header-font;
  text-align: left;
  color: black;
  text-transform: none;
}
