.form {
  display: flex;
  flex-direction: column;
}

.form__wrapper {
  @media (min-width: @tablet-width) {
    &:nth-child(1) {
      order: 2;
    }

    &:nth-child(2) {
      order: 3;
    }

    &:nth-child(3) {
      order: 1;
    }

    &:nth-child(4) {
      order: 4;
    }

    &:nth-child(5) {
      order: 5;
    }
  }
}


.form__header {
  .header-font;
  text-align: center;
  color: black;

  margin: 0 auto;
  padding: 18px 0 14px 0;
  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.form__comment {
  text-align: right;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}

.form__wrapper {
  border-top: 1px #e5e5e5 solid;
  padding-bottom: 21px;
  @media (min-width: @tablet-width) {
    border-top: none;
  }
}

.form__name {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding: 9px 0;
}

.form__contacts {
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
  display: block;
  position: relative;

  padding: 6px 0 8px 0;

  &::after {
    content: "";
    position: absolute;
    background-color: #e6e6e6;
    height: 56px;
    width: 56px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: center;
    right: 0;
  }
}

.form__contacts--mail::after {
  background-image: url("../img/icon-mail.svg");
}

.form__input {
  flex-grow: 1;
  box-sizing: border-box;
  min-height: 57px;

  .form__name & {
    width: 87.5%;
  }
}

.form__span-name {
  padding-right: 12px;
}

.form__span-contacts {
  padding-bottom: 6px;
  display: block;
  padding-left: 21px;
}

.form__area {
  .header-font;
  text-align: left;
  color: black;
  text-transform: none;

  background-color: #f2f2f2;
  border: 0;

  padding: 17px;
  width: 100%;
}

.form__opinion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.form__button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: @tablet-width) {
      order: 6;
  }
}
