.form__header {
  .header-font;
  text-align: center;
  color: black;
}

.form__comment {
  text-align: right;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
@media (max-width: 767px) {
  display: none;
}
}


