.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 190px;
  padding-top: 75px;
  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.page-footer__list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
  justify-content: space-between
}

.page-footer__contacts {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: black;
  margin: 0;
}

.page-footer__social {
  min-width: 152px;
}

.page-footer__copyright {
  min-width: 130px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
