.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 190px;
  margin: 0 auto;
  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 0;
    padding-bottom: 35px;
  }
}

.page-footer__container {
  width: 87.5%;
  padding: 0 20px 20px 20px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 84.38%;
    padding: 0 60px 35px 60px;
  }

  @media (min-width: @desktop-width) {
    width: 80%;
    padding: 0 120px 35px 120px;
  }
}

.page-footer__list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
  justify-content: space-between
}

.page-footer__contacts {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: black;
  margin: 0;
}

.page-footer__social {
  min-width: 152px;
}

.page-footer__copyright {
  min-width: 130px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
