.page-header {
  @media (max-width: @mobile-width-only) {
    display: flex;
    flex-direction: column;
  }
}

.page-header__container {
  @media (min-width: @tablet-width) {
    margin: 0 50px;
    min-height: 89px;
  }
  @media (min-width: @desktop-width) {
    margin: 0 92px;
  }
}

.page-header__logo {
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  position: relative;
  @media (min-width: @tablet-width) {
    position: absolute;
    top: 0;
    width: 102px;
  }
  @media (min-width: @desktop-width) {
    width: 188px;
  }
}
