.panel {
  height: 66px;
  width: 280px;
  background: #f2f2f2;
  @media (min-width: @tablet-width) {
    width: 648px;
    height: 93px;
    background: transparent;
  }
  @media (min-width: @desktop-width) {
    width: 800px;
  }
}

.panel__replay {
  position: relative;
  bottom: -22px;
  right: 28%;
  @media (min-width: @tablet-width) {
    bottom: -26px;
    right: 38%;
  }
/*  @media (min-width: @desktop-width) {

  }*/
}

.panel__subtitles {
  position: relative;
  bottom: -22px;
  left: 18%;
  @media (min-width: @tablet-width) {
    bottom: -26px;
    left: 34%;
  }
/*  @media (min-width: @desktop-width) {

  }*/
}

.panel__fullscreen {
  position: relative;
  bottom: -22px;
  left: 28%;
  @media (min-width: @tablet-width) {
    bottom: -26px;
    left: 38%;
  }
/*  @media (min-width: @desktop-width) {

  }*/
}
