.preview {
  border-top: #e5e5e5 1px solid;
  padding: 23px 0 15px 0;
}
.preview__title {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: black;
  text-align: left;
}

.preview__author {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  text-align: left;
  text-transform: none;
}
