.radio {
  padding-top: 18px;
  padding-bottom: 15px;
  @media (min-width: @tablet-width) {
    padding: 0;
  }
  @media (min-width: @desktop-width) {
    padding-left: 8px;
  }
}

.radio__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 19px;
  @media (min-width: @tablet-width) {
    padding-top: 51px;
  }
}

.radio__item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 7px 0 7px 3px;
  @media (min-width: @tablet-width) {
    padding: 11px 0;
  }
}

.radio__round {
  width: 3.5em;
  height: 3.8em;
  margin-right: 26px;
  @media (min-width: @desktop-width) {
    margin-right: 23px;
  }
}

.radio__header {
  .header-font;
  text-align: center;
  color: #000000;
  margin: 0;
  @media (min-width: @tablet-width) {
    font-size: 21px;
    text-align: left;
  }
  @media (min-width: @desktop-width) {
    padding-left: 72px;
  }
}

.radio__text {
  .header-font;
  text-align: left;
  color: black;
  text-transform: none;
}
