.reason-head {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.reason-head-text {
  .header-font;
  text-align: left;
  color: #000000;
}

.reason__description-text {
  .normal-font;
  text-align: left;
}

.reason {
  svg {
    width: 40px;
    height: 40px;
  }
}

