.reason__head {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  @media (max-width: @mobile-width-only) {
    padding-left: 14px;
    width: 80%;
  }
  @media (min-width: @tablet-width) {
    align-items: center;
  }
}

.reason__head-text {
  .header-font;
  text-align: left;
  color: #000000;
  margin: 0;
  padding-top: 14px;
  @media (min-width: @tablet-width) {
    font-size: 21px;
    padding-bottom: 10px;
    padding-top: 23px;
  }
}

.reason__description {
  .normal-font;
  text-align: left;
  margin: 0;
  padding-top: 11px;
  padding-bottom: 3px;
  @media (min-width: @tablet-width) {
    padding-right: 45px;
    padding-left: 45px;
    text-align: center;
  }
}

.reason {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  @media (min-width: @tablet-width) {
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }
}

.reason__icon__wrapper {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: @tablet-width) {
    height: 78px;
    width: 78px;
  }
}

.reason__icon {
  @media (max-width: @mobile-width-only) {
    //width: 63px;
    //height: auto;
  }
  //padding: 7px 12px 0 22px;
  @media (min-width: @tablet-width) {
    //width: 76px;
    //padding: 0 22px 0 0;
  }
}
