@import "../mixins";

.review-text-header {
  .header-font;
  text-align: center;
  color: black;
}

.review-text-title {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  text-align: center;
}

.review-text-input {
  .header-font;
  text-align: left;
  color: black;
  text-transform: none;
}

.review-text-label {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  text-align: left;
}

.review {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
