.review {
  padding: 38px 0;
}

.review__slogan {
  .header-font;
  text-align: center;
  color: black;

  margin: 0;
  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.review__intro {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  text-align: center;

  margin: 0;
  padding: 27px 0 17px 0;
  @media (min-width: @tablet-width) {
    padding: 27px 102px 17px 102px;
  }
}
