.review {
  padding: 38px 0 47px 0;
  @media (min-width: @tablet-width) {
    padding: 75px 0 29px 0;
  }
  @media (min-width: @desktop-width) {
    padding: 113px 0 37px 0;
  }
}

.review__slogan {
  .header-font;
  text-align: center;
  color: black;

  margin: 0;
  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.review__intro {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  text-align: center;

  margin: 0;
  padding: 27px 15px 17px 15px;
  @media (min-width: @tablet-width) {
    padding: 31px 165px 17px 165px;
  }
  @media (min-width: @desktop-width) {
    padding: 31px 380px 17px 380px;
  }
}

.review__button {
  padding: 15px 48px;
  margin: 24px 0;
  @media (min-width: @tablet-width) {
    padding: 15px 70px;
  }
  @media (min-width: @desktop-width) {
    padding: 15px 149px;
  }
}
