.video {
  position: relative;
}

.video__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 34px;
  margin: 0;
}

.video__screen {
  @media (min-width: @tablet-width) {
    min-width: 84.38%;
    min-height: 499px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    min-width: 66.67%;
    min-height: 500px;
  }
}

.video__screen-preview {
  width: 100%;

  @media (min-width: @tablet-width) {
    min-height: 499px;
    min-width: 648px;
  }

  @media (min-width: @desktop-width) {
    max-width: 800px;
  }
}

.video-control {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: -59px;

  @media (min-width: @desktop-width) {
    margin-bottom: -57px;
  }
}

.video__slogan {
  margin: 0;

  @media (min-width: @tablet-width) {
    padding: 32px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 37px 0 31px;
  }
}

.video__intro {
  margin: 0;
  padding: 27px 23px 36px 23px;

  @media (min-width: @tablet-width) {
    padding: 0 164px 72px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 393px 70px;
  }
}
