.video-text {
  .header-font;
  color: black;
  text-align: center;

  border-top: #e5e5e5 1px solid;
  @media (min-width: @tablet-width) {
    border-top: none;
    font-size: 30px;
    padding: 34px 0;
  }
}

.video-text__intro {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  text-align: center;
}
