.welcome {
  background-image: url("./source/img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: #669ec0;

  &::after {
    content: "";
    background: url("./source/img/bg-intro-triangle-mobile.svg") no-repeat bottom;
    background-size: cover;
    display: block;
    height: 57px;
  }
}

